<!DOCTYPE html>
<html lang="ja">
- var path = "./"
- var sitename = "クリエイティブアイランド中之島"
- var pageClass = ""
block vars
- var img = path + "assets/img/"
head
    meta(charset="UTF-8")
    if title
        title #{title} | #{sitename}
    else
        title #{sitename}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //-
        meta(name="description", content="")
        meta(name="keywords", content="")
    meta(name="format-detection", content="telephone=no")
    = "\n"
    = "\n"

    <!-- css -->
    link(href= path + "assets/css/style.css", rel="stylesheet")
    = "\n"
    = "\n"

    if (pageClass == "page-front")
        <!-- OGP -->
        meta(property='og:locale' content='ja_JP')
        meta(property='og:type' content='website')
        meta(property='og:image' content=path + 'OGP.png')
        meta(property='og:title' content='')
        meta(property='og:description' content='')
        meta(property='og:url' content='')
        meta(property='og:site_name' content='')
        meta(name='twitter:card' content='summary')
        = "\n"

    <!-- vendor -->
    = "\n"
    = "\n"
    <script src="https://webfont.fontplus.jp/accessor/script/fontplus.js?J-fMHawjerA%3D&box=DNYyG7Qtq-k%3D&aa=1&ab=2"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    //-
        link(href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
        link(href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanjp.min.css", rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.0.0/dist/css/yakuhanmp.min.css", rel="stylesheet")

body#body(class=pageClass)
    = "\n"
    a#top
    .l-body-wrap
        header.l-header
            .l-header__wrap
                p.l-header-logo
                    a(href=path+"")
                        svg(width=195 height=40 role="img" aria-label=sitename)
                            use(href="#logo")
                nav.l-header-nav
                    ul.l-header-nav__nav
                        li
                            button.c-btn-header-about(data-micromodal-trigger="modal-about")
                                span.c-btn-header-about__txt 中之島について
                                i.c-btn-header-about__plus


                    ul.l-header-nav__locale.c-link-local
                        li
                            p.js-split-text JP
                        li
                            a(href="#").js-split-text EN
                button.l-header-menu.c-btn-menu(aria-label="メニューを開く")
                    span Menu
                    span Close
            .l-header-drawer.is-section-dark
                .l-header-drawer__bg
                .l-header-drawer__wrap
                    .l-header-drawer__inner
                        nav.l-header-drawer__nav
                            include ./template/cm-nav-main
                        .l-header-drawer-recommend
                            .l-header-drawer-recommend__head
                                    span Recommend
                                    span おすすめコンテンツ
                            .l-header-drawer-recommend__list
                                - for (var x = 1; x <= 3; x++)
                                    .c-card-recommend
                                        a(href=path+"single-news/").c-card-recommend__link
                                            figure.c-card-recommend__pic
                                                img(src=img + "500x500.webp" alt="")
                                            .c-card-recommend__body
                                                h3.c-card-recommend__title
                                                    | 「中之島15の場所での物語」AR挿絵公募
                                                ul.c-card-recommend__tag
                                                    li #Events
                        .l-header-drawer__cta
                            a(href="#").c-btn-ticket
                                span.c-btn-ticket__txt Ticket購入
                                i.c-btn-ticket__arrow
                                    svg(width=26 height=26).js-clone
                                        use(href="#ico-arrow")


        main.l-main#main
            block content
        footer.l-footer
            .l-container.is-section-dark
                .l-footer__wrap
                    .l-footer-nav
                        include ./template/cm-nav-main
                        .l-footer-nav__locale
                            li
                                a(href="#") JP
                            li
                                a(href="#") EN

                    .l-footer-logo
                        <svg width="452" height="165" viewBox="0 0 452 165" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.53 130V78.97H15.05L41.37 119.64H41.72L41.37 102.77V78.97H48.72V130H39.62L13.3 89.61H12.95L13.23 105.5V130H5.53ZM70.4473 130.63C68.2073 130.63 66.1307 130.187 64.2173 129.3C62.3507 128.413 60.7407 127.153 59.3873 125.52C58.034 123.887 56.984 121.903 56.2373 119.57C55.5373 117.19 55.1873 114.483 55.1873 111.45C55.1873 107.437 55.8173 104.007 57.0773 101.16C58.384 98.3133 60.1807 96.1433 62.4673 94.65C64.754 93.11 67.414 92.34 70.4473 92.34C72.5007 92.34 74.3673 92.6667 76.0473 93.32C77.7273 93.9733 79.1507 94.8833 80.3173 96.05C81.5307 97.17 82.394 98.5233 82.9073 100.11H83.3273L83.6073 92.97H90.4673V130H83.6073L83.3273 122.79H82.9073C82.0673 125.123 80.5507 127.013 78.3573 128.46C76.164 129.907 73.5273 130.63 70.4473 130.63ZM72.8973 124.68C75.1373 124.68 77.0273 124.167 78.5673 123.14C80.1073 122.113 81.274 120.76 82.0673 119.08C82.8607 117.4 83.2573 115.557 83.2573 113.55V109.35C83.2573 107.297 82.8373 105.43 81.9973 103.75C81.204 102.07 80.0373 100.74 78.4973 99.76C77.004 98.7333 75.184 98.22 73.0373 98.22C70.844 98.22 68.954 98.7567 67.3673 99.83C65.8273 100.903 64.6373 102.42 63.7973 104.38C63.004 106.34 62.6073 108.697 62.6073 111.45C62.6073 114.157 63.004 116.513 63.7973 118.52C64.5907 120.527 65.7573 122.067 67.2973 123.14C68.8373 124.167 70.704 124.68 72.8973 124.68ZM98.4572 130V78.97H105.737V110.68L108.957 107.18L122.747 92.97H131.707L117.357 107.39L132.267 130H123.797L114.557 116L112.317 112.29L105.737 118.66V130H98.4572ZM148.347 130.63C146.107 130.63 144.03 130.187 142.117 129.3C140.25 128.413 138.64 127.153 137.287 125.52C135.934 123.887 134.884 121.903 134.137 119.57C133.437 117.19 133.087 114.483 133.087 111.45C133.087 107.437 133.717 104.007 134.977 101.16C136.284 98.3133 138.08 96.1433 140.367 94.65C142.654 93.11 145.314 92.34 148.347 92.34C150.4 92.34 152.267 92.6667 153.947 93.32C155.627 93.9733 157.05 94.8833 158.217 96.05C159.43 97.17 160.294 98.5233 160.807 100.11H161.227L161.507 92.97H168.367V130H161.507L161.227 122.79H160.807C159.967 125.123 158.45 127.013 156.257 128.46C154.064 129.907 151.427 130.63 148.347 130.63ZM150.797 124.68C153.037 124.68 154.927 124.167 156.467 123.14C158.007 122.113 159.174 120.76 159.967 119.08C160.76 117.4 161.157 115.557 161.157 113.55V109.35C161.157 107.297 160.737 105.43 159.897 103.75C159.104 102.07 157.937 100.74 156.397 99.76C154.904 98.7333 153.084 98.22 150.937 98.22C148.744 98.22 146.854 98.7567 145.267 99.83C143.727 100.903 142.537 102.42 141.697 104.38C140.904 106.34 140.507 108.697 140.507 111.45C140.507 114.157 140.904 116.513 141.697 118.52C142.49 120.527 143.657 122.067 145.197 123.14C146.737 124.167 148.604 124.68 150.797 124.68ZM176.357 130V92.97H183.217L183.497 100.32H183.917C184.99 97.7067 186.67 95.7467 188.957 94.44C191.243 93.0867 193.74 92.41 196.447 92.41C198.36 92.41 200.11 92.69 201.697 93.25C203.33 93.81 204.73 94.72 205.897 95.98C207.11 97.1933 208.043 98.8033 208.697 100.81C209.35 102.77 209.677 105.173 209.677 108.02V130H202.467V109.49C202.467 106.97 202.163 104.893 201.557 103.26C200.95 101.58 200.017 100.343 198.757 99.55C197.497 98.7567 195.863 98.36 193.857 98.36C191.757 98.36 189.913 98.8733 188.327 99.9C186.787 100.927 185.597 102.303 184.757 104.03C183.917 105.71 183.497 107.623 183.497 109.77V130H176.357ZM233.487 130.63C230.78 130.63 228.307 130.187 226.067 129.3C223.873 128.413 221.983 127.13 220.397 125.45C218.81 123.77 217.573 121.763 216.687 119.43C215.8 117.097 215.357 114.483 215.357 111.59C215.357 107.763 216.08 104.427 217.527 101.58C219.02 98.6867 221.12 96.4467 223.827 94.86C226.58 93.2267 229.8 92.41 233.487 92.41C236.193 92.41 238.643 92.8533 240.837 93.74C243.077 94.58 244.99 95.84 246.577 97.52C248.163 99.2 249.377 101.23 250.217 103.61C251.103 105.943 251.547 108.58 251.547 111.52C251.547 115.3 250.823 118.637 249.377 121.53C247.93 124.377 245.853 126.617 243.147 128.25C240.44 129.837 237.22 130.63 233.487 130.63ZM233.487 124.61C235.633 124.61 237.5 124.12 239.087 123.14C240.72 122.113 241.98 120.62 242.867 118.66C243.753 116.7 244.197 114.32 244.197 111.52C244.197 109.42 243.94 107.577 243.427 105.99C242.96 104.357 242.26 102.98 241.327 101.86C240.393 100.693 239.273 99.83 237.967 99.27C236.66 98.6633 235.167 98.36 233.487 98.36C231.34 98.36 229.45 98.8733 227.817 99.9C226.23 100.927 224.97 102.42 224.037 104.38C223.15 106.293 222.707 108.697 222.707 111.59C222.707 113.643 222.94 115.487 223.407 117.12C223.92 118.707 224.643 120.06 225.577 121.18C226.557 122.3 227.7 123.163 229.007 123.77C230.36 124.33 231.853 124.61 233.487 124.61ZM270.421 130.7C268.088 130.7 265.964 130.42 264.051 129.86C262.184 129.3 260.574 128.507 259.221 127.48C257.868 126.453 256.818 125.217 256.071 123.77C255.371 122.277 254.998 120.667 254.951 118.94H262.091C262.184 120.387 262.581 121.6 263.281 122.58C264.028 123.56 265.031 124.283 266.291 124.75C267.598 125.217 269.044 125.45 270.631 125.45C273.151 125.45 275.064 124.983 276.371 124.05C277.724 123.07 278.401 121.717 278.401 119.99C278.401 118.683 278.098 117.68 277.491 116.98C276.931 116.233 276.021 115.65 274.761 115.23C273.501 114.81 271.844 114.46 269.791 114.18C266.711 113.713 264.144 113.107 262.091 112.36C260.038 111.567 258.498 110.47 257.471 109.07C256.444 107.623 255.931 105.757 255.931 103.47C255.931 101.23 256.538 99.2933 257.751 97.66C258.964 95.98 260.668 94.6733 262.861 93.74C265.054 92.76 267.621 92.27 270.561 92.27C273.454 92.27 275.951 92.7367 278.051 93.67C280.198 94.6033 281.878 95.91 283.091 97.59C284.304 99.27 284.958 101.277 285.051 103.61H277.981C277.888 102.163 277.514 100.997 276.861 100.11C276.254 99.2233 275.391 98.5933 274.271 98.22C273.198 97.8 271.914 97.59 270.421 97.59C268.134 97.59 266.338 98.0567 265.031 98.99C263.771 99.9233 263.141 101.183 263.141 102.77C263.141 103.983 263.468 104.963 264.121 105.71C264.774 106.41 265.778 106.97 267.131 107.39C268.531 107.763 270.304 108.113 272.451 108.44C275.298 108.813 277.724 109.397 279.731 110.19C281.738 110.983 283.231 112.103 284.211 113.55C285.238 114.997 285.751 116.933 285.751 119.36C285.751 121.787 285.121 123.84 283.861 125.52C282.601 127.2 280.804 128.483 278.471 129.37C276.184 130.257 273.501 130.7 270.421 130.7ZM291.463 130V78.97H298.603V100.32H299.023C300.096 97.7067 301.776 95.7467 304.063 94.44C306.35 93.0867 308.846 92.41 311.553 92.41C313.466 92.41 315.216 92.69 316.803 93.25C318.436 93.81 319.836 94.72 321.003 95.98C322.216 97.1933 323.15 98.8033 323.803 100.81C324.456 102.77 324.783 105.173 324.783 108.02V130H317.573V109.49C317.573 106.97 317.27 104.893 316.663 103.26C316.056 101.58 315.123 100.343 313.863 99.55C312.603 98.7567 310.97 98.36 308.963 98.36C306.863 98.36 305.02 98.8733 303.433 99.9C301.893 100.927 300.703 102.303 299.863 104.03C299.023 105.71 298.603 107.623 298.603 109.77V130H291.463ZM332.088 130V92.97H339.298V130H332.088ZM335.728 87.3C334.514 87.3 333.511 86.9733 332.718 86.32C331.924 85.6667 331.528 84.7567 331.528 83.59C331.528 82.4233 331.924 81.5133 332.718 80.86C333.511 80.2067 334.514 79.88 335.728 79.88C336.941 79.88 337.944 80.2067 338.738 80.86C339.531 81.5133 339.928 82.4233 339.928 83.59C339.928 84.7567 339.531 85.6667 338.738 86.32C337.944 86.9733 336.941 87.3 335.728 87.3ZM347.214 130V92.97H354.074L354.354 100.32H354.774C355.801 97.7067 357.411 95.7467 359.604 94.44C361.844 93.0867 364.318 92.41 367.024 92.41C369.731 92.41 372.158 93.0633 374.304 94.37C376.498 95.6767 378.061 97.9167 378.994 101.09H379.554C380.581 98.1967 382.261 96.0267 384.594 94.58C386.974 93.1333 389.634 92.41 392.574 92.41C395.001 92.41 397.171 92.9233 399.084 93.95C401.044 94.9767 402.584 96.6333 403.704 98.92C404.824 101.207 405.384 104.24 405.384 108.02V130H398.244V109.49C398.244 106.97 397.941 104.893 397.334 103.26C396.728 101.58 395.818 100.343 394.604 99.55C393.391 98.7567 391.804 98.36 389.844 98.36C387.838 98.36 386.088 98.8733 384.594 99.9C383.101 100.927 381.934 102.303 381.094 104.03C380.301 105.71 379.904 107.623 379.904 109.77V130H372.694V109.49C372.694 106.97 372.391 104.893 371.784 103.26C371.178 101.58 370.268 100.343 369.054 99.55C367.841 98.7567 366.278 98.36 364.364 98.36C362.311 98.36 360.538 98.8733 359.044 99.9C357.551 100.927 356.384 102.303 355.544 104.03C354.751 105.71 354.354 107.623 354.354 109.77V130H347.214ZM426.362 130.63C424.122 130.63 422.045 130.187 420.132 129.3C418.265 128.413 416.655 127.153 415.302 125.52C413.948 123.887 412.898 121.903 412.152 119.57C411.452 117.19 411.102 114.483 411.102 111.45C411.102 107.437 411.732 104.007 412.992 101.16C414.298 98.3133 416.095 96.1433 418.382 94.65C420.668 93.11 423.328 92.34 426.362 92.34C428.415 92.34 430.282 92.6667 431.962 93.32C433.642 93.9733 435.065 94.8833 436.232 96.05C437.445 97.17 438.308 98.5233 438.822 100.11H439.242L439.522 92.97H446.382V130H439.522L439.242 122.79H438.822C437.982 125.123 436.465 127.013 434.272 128.46C432.078 129.907 429.442 130.63 426.362 130.63ZM428.812 124.68C431.052 124.68 432.942 124.167 434.482 123.14C436.022 122.113 437.188 120.76 437.982 119.08C438.775 117.4 439.172 115.557 439.172 113.55V109.35C439.172 107.297 438.752 105.43 437.912 103.75C437.118 102.07 435.952 100.74 434.412 99.76C432.918 98.7333 431.098 98.22 428.952 98.22C426.758 98.22 424.868 98.7567 423.282 99.83C421.742 100.903 420.552 102.42 419.712 104.38C418.918 106.34 418.522 108.697 418.522 111.45C418.522 114.157 418.918 116.513 419.712 118.52C420.505 120.527 421.672 122.067 423.212 123.14C424.752 124.167 426.618 124.68 428.812 124.68Z" fill="white"/>
                        <path d="M59.15 63.45C56.45 63.45 54 63.0333 51.8 62.2C49.6 61.3333 47.7 60.0833 46.1 58.45C44.5 56.8167 43.2667 54.85 42.4 52.55C41.5667 50.25 41.15 47.6667 41.15 44.8C41.15 41.9 41.5833 39.3 42.45 37C43.3167 34.7 44.5333 32.75 46.1 31.15C47.7 29.5167 49.6 28.2833 51.8 27.45C54 26.5833 56.45 26.15 59.15 26.15C62.15 26.15 64.8167 26.6667 67.15 27.7C69.5167 28.7333 71.4333 30.2 72.9 32.1C74.4 33.9667 75.3333 36.1833 75.7 38.75H70.2C69.8667 37.2167 69.2 35.8667 68.2 34.7C67.2 33.5 65.9333 32.5667 64.4 31.9C62.9 31.2 61.15 30.85 59.15 30.85C56.6167 30.85 54.4167 31.4 52.55 32.5C50.7167 33.6 49.3 35.1833 48.3 37.25C47.3 39.3167 46.8 41.8333 46.8 44.8C46.8 47 47.0833 48.9667 47.65 50.7C48.25 52.4333 49.0833 53.9 50.15 55.1C51.2167 56.2667 52.5 57.1667 54 57.8C55.5333 58.4333 57.25 58.75 59.15 58.75C61.1167 58.75 62.8667 58.4167 64.4 57.75C65.9667 57.0833 67.25 56.15 68.25 54.95C69.25 53.7167 69.9 52.2833 70.2 50.65H75.7C75.4 53.25 74.5 55.5167 73 57.45C71.5333 59.35 69.6 60.8333 67.2 61.9C64.8333 62.9333 62.15 63.45 59.15 63.45ZM79.6742 63V36.55H84.2742L84.5242 41.25H84.7742C85.3409 39.55 86.3242 38.2833 87.7242 37.45C89.1242 36.6167 90.6909 36.2 92.4242 36.2C92.7242 36.2 92.9909 36.2167 93.2242 36.25C93.4909 36.25 93.7409 36.2667 93.9742 36.3V41.15C93.7742 41.1167 93.5242 41.1 93.2242 41.1C92.9576 41.1 92.6742 41.1 92.3742 41.1C90.8076 41.1 89.4742 41.3667 88.3742 41.9C87.2742 42.4333 86.4242 43.2167 85.8242 44.25C85.2242 45.25 84.8742 46.4667 84.7742 47.9V63H79.6742ZM106.545 63.45C103.979 63.45 101.762 62.9 99.8953 61.8C98.062 60.6667 96.662 59.0833 95.6953 57.05C94.7286 55.0167 94.2453 52.6333 94.2453 49.9C94.2453 47.1 94.7286 44.6667 95.6953 42.6C96.662 40.5333 98.0453 38.95 99.8453 37.85C101.679 36.7167 103.862 36.15 106.395 36.15C109.162 36.15 111.445 36.7833 113.245 38.05C115.079 39.2833 116.395 41 117.195 43.2C117.995 45.4 118.295 47.9333 118.095 50.8H99.2953C99.3286 52.7333 99.6453 54.35 100.245 55.65C100.845 56.9167 101.679 57.8833 102.745 58.55C103.845 59.1833 105.112 59.5 106.545 59.5C108.279 59.5 109.679 59.1167 110.745 58.35C111.845 57.5833 112.579 56.5667 112.945 55.3H117.845C117.579 57 116.929 58.4667 115.895 59.7C114.862 60.9 113.545 61.8333 111.945 62.5C110.345 63.1333 108.545 63.45 106.545 63.45ZM99.3453 47.95L98.8453 47.3H113.545L113.045 48C113.079 46.1667 112.812 44.6667 112.245 43.5C111.712 42.3333 110.929 41.4833 109.895 40.95C108.895 40.3833 107.729 40.1 106.395 40.1C104.995 40.1 103.779 40.4 102.745 41C101.712 41.6 100.895 42.4833 100.295 43.65C99.6953 44.8167 99.3786 46.25 99.3453 47.95ZM131.779 63.45C130.179 63.45 128.695 63.1333 127.329 62.5C125.995 61.8667 124.845 60.9667 123.879 59.8C122.912 58.6333 122.162 57.2167 121.629 55.55C121.129 53.85 120.879 51.9167 120.879 49.75C120.879 46.8833 121.329 44.4333 122.229 42.4C123.162 40.3667 124.445 38.8167 126.079 37.75C127.712 36.65 129.612 36.1 131.779 36.1C133.245 36.1 134.579 36.3333 135.779 36.8C136.979 37.2667 137.995 37.9167 138.829 38.75C139.695 39.55 140.312 40.5167 140.679 41.65H140.979L141.179 36.55H146.079V63H141.179L140.979 57.85H140.679C140.079 59.5167 138.995 60.8667 137.429 61.9C135.862 62.9333 133.979 63.45 131.779 63.45ZM133.529 59.2C135.129 59.2 136.479 58.8333 137.579 58.1C138.679 57.3667 139.512 56.4 140.079 55.2C140.645 54 140.929 52.6833 140.929 51.25V48.25C140.929 46.7833 140.629 45.45 140.029 44.25C139.462 43.05 138.629 42.1 137.529 41.4C136.462 40.6667 135.162 40.3 133.629 40.3C132.062 40.3 130.712 40.6833 129.579 41.45C128.479 42.2167 127.629 43.3 127.029 44.7C126.462 46.1 126.179 47.7833 126.179 49.75C126.179 51.6833 126.462 53.3667 127.029 54.8C127.595 56.2333 128.429 57.3333 129.529 58.1C130.629 58.8333 131.962 59.2 133.529 59.2ZM159.886 63C158.419 63 157.269 62.8 156.436 62.4C155.602 61.9667 155.019 61.3333 154.686 60.5C154.352 59.6667 154.186 58.6667 154.186 57.5V40.75H149.186V36.55H154.186V28.9L159.286 28.3V36.55H175.436V63H170.286V40.75H159.286V56.55C159.286 57.45 159.452 58.05 159.786 58.35C160.152 58.6167 160.752 58.75 161.586 58.75H165.186V63H159.886ZM172.886 32.5C171.986 32.5 171.252 32.2667 170.686 31.8C170.152 31.3333 169.886 30.6833 169.886 29.85C169.886 29.0167 170.152 28.3667 170.686 27.9C171.252 27.4333 171.986 27.2 172.886 27.2C173.752 27.2 174.452 27.4333 174.986 27.9C175.552 28.3667 175.836 29.0167 175.836 29.85C175.836 30.6833 175.552 31.3333 174.986 31.8C174.452 32.2667 173.752 32.5 172.886 32.5ZM187.796 63L178.396 36.55H183.946L188.746 51.95L190.896 59H191.146L193.296 51.95L198.096 36.55H203.646L194.246 63H187.796ZM216.707 63.45C214.141 63.45 211.924 62.9 210.057 61.8C208.224 60.6667 206.824 59.0833 205.857 57.05C204.891 55.0167 204.407 52.6333 204.407 49.9C204.407 47.1 204.891 44.6667 205.857 42.6C206.824 40.5333 208.207 38.95 210.007 37.85C211.841 36.7167 214.024 36.15 216.557 36.15C219.324 36.15 221.607 36.7833 223.407 38.05C225.241 39.2833 226.557 41 227.357 43.2C228.157 45.4 228.457 47.9333 228.257 50.8H209.457C209.491 52.7333 209.807 54.35 210.407 55.65C211.007 56.9167 211.841 57.8833 212.907 58.55C214.007 59.1833 215.274 59.5 216.707 59.5C218.441 59.5 219.841 59.1167 220.907 58.35C222.007 57.5833 222.741 56.5667 223.107 55.3H228.007C227.741 57 227.091 58.4667 226.057 59.7C225.024 60.9 223.707 61.8333 222.107 62.5C220.507 63.1333 218.707 63.45 216.707 63.45ZM209.507 47.95L209.007 47.3H223.707L223.207 48C223.241 46.1667 222.974 44.6667 222.407 43.5C221.874 42.3333 221.091 41.4833 220.057 40.95C219.057 40.3833 217.891 40.1 216.557 40.1C215.157 40.1 213.941 40.4 212.907 41C211.874 41.6 211.057 42.4833 210.457 43.65C209.857 44.8167 209.541 46.25 209.507 47.95ZM242.229 63V26.55H247.679V63H242.229ZM263.009 63.5C261.343 63.5 259.826 63.3 258.459 62.9C257.126 62.5 255.976 61.9333 255.009 61.2C254.043 60.4667 253.293 59.5833 252.759 58.55C252.259 57.4833 251.993 56.3333 251.959 55.1H257.059C257.126 56.1333 257.409 57 257.909 57.7C258.443 58.4 259.159 58.9167 260.059 59.25C260.993 59.5833 262.026 59.75 263.159 59.75C264.959 59.75 266.326 59.4167 267.259 58.75C268.226 58.05 268.709 57.0833 268.709 55.85C268.709 54.9167 268.493 54.2 268.059 53.7C267.659 53.1667 267.009 52.75 266.109 52.45C265.209 52.15 264.026 51.9 262.559 51.7C260.359 51.3667 258.526 50.9333 257.059 50.4C255.593 49.8333 254.493 49.05 253.759 48.05C253.026 47.0167 252.659 45.6833 252.659 44.05C252.659 42.45 253.093 41.0667 253.959 39.9C254.826 38.7 256.043 37.7667 257.609 37.1C259.176 36.4 261.009 36.05 263.109 36.05C265.176 36.05 266.959 36.3833 268.459 37.05C269.993 37.7167 271.193 38.65 272.059 39.85C272.926 41.05 273.393 42.4833 273.459 44.15H268.409C268.343 43.1167 268.076 42.2833 267.609 41.65C267.176 41.0167 266.559 40.5667 265.759 40.3C264.993 40 264.076 39.85 263.009 39.85C261.376 39.85 260.093 40.1833 259.159 40.85C258.259 41.5167 257.809 42.4167 257.809 43.55C257.809 44.4167 258.043 45.1167 258.509 45.65C258.976 46.15 259.693 46.55 260.659 46.85C261.659 47.1167 262.926 47.3667 264.459 47.6C266.493 47.8667 268.226 48.2833 269.659 48.85C271.093 49.4167 272.159 50.2167 272.859 51.25C273.593 52.2833 273.959 53.6667 273.959 55.4C273.959 57.1333 273.509 58.6 272.609 59.8C271.709 61 270.426 61.9167 268.759 62.55C267.126 63.1833 265.209 63.5 263.009 63.5ZM278.039 63V26.55H283.189V63H278.039ZM298.294 63.45C296.694 63.45 295.211 63.1333 293.844 62.5C292.511 61.8667 291.361 60.9667 290.394 59.8C289.427 58.6333 288.677 57.2167 288.144 55.55C287.644 53.85 287.394 51.9167 287.394 49.75C287.394 46.8833 287.844 44.4333 288.744 42.4C289.677 40.3667 290.961 38.8167 292.594 37.75C294.227 36.65 296.127 36.1 298.294 36.1C299.761 36.1 301.094 36.3333 302.294 36.8C303.494 37.2667 304.511 37.9167 305.344 38.75C306.211 39.55 306.827 40.5167 307.194 41.65H307.494L307.694 36.55H312.594V63H307.694L307.494 57.85H307.194C306.594 59.5167 305.511 60.8667 303.944 61.9C302.377 62.9333 300.494 63.45 298.294 63.45ZM300.044 59.2C301.644 59.2 302.994 58.8333 304.094 58.1C305.194 57.3667 306.027 56.4 306.594 55.2C307.161 54 307.444 52.6833 307.444 51.25V48.25C307.444 46.7833 307.144 45.45 306.544 44.25C305.977 43.05 305.144 42.1 304.044 41.4C302.977 40.6667 301.677 40.3 300.144 40.3C298.577 40.3 297.227 40.6833 296.094 41.45C294.994 42.2167 294.144 43.3 293.544 44.7C292.977 46.1 292.694 47.7833 292.694 49.75C292.694 51.6833 292.977 53.3667 293.544 54.8C294.111 56.2333 294.944 57.3333 296.044 58.1C297.144 58.8333 298.477 59.2 300.044 59.2ZM318.301 63V36.55H323.201L323.401 41.8H323.701C324.468 39.9333 325.668 38.5333 327.301 37.6C328.935 36.6333 330.718 36.15 332.651 36.15C334.018 36.15 335.268 36.35 336.401 36.75C337.568 37.15 338.568 37.8 339.401 38.7C340.268 39.5667 340.935 40.7167 341.401 42.15C341.868 43.55 342.101 45.2667 342.101 47.3V63H336.951V48.35C336.951 46.55 336.735 45.0667 336.301 43.9C335.868 42.7 335.201 41.8167 334.301 41.25C333.401 40.6833 332.235 40.4 330.801 40.4C329.301 40.4 327.985 40.7667 326.851 41.5C325.751 42.2333 324.901 43.2167 324.301 44.45C323.701 45.65 323.401 47.0167 323.401 48.55V63H318.301ZM357.111 63.45C355.511 63.45 354.027 63.1333 352.661 62.5C351.327 61.8667 350.177 60.9667 349.211 59.8C348.244 58.6333 347.494 57.2167 346.961 55.55C346.461 53.85 346.211 51.9167 346.211 49.75C346.211 46.8833 346.661 44.4333 347.561 42.4C348.494 40.3667 349.777 38.8167 351.411 37.75C353.044 36.65 354.944 36.1 357.111 36.1C358.577 36.1 359.911 36.3333 361.111 36.8C362.311 37.2667 363.327 37.9167 364.161 38.75C365.027 39.55 365.644 40.5167 366.011 41.65H366.261V26.55H371.411V63H366.511L366.311 57.85H366.011C365.411 59.5167 364.327 60.8667 362.761 61.9C361.194 62.9333 359.311 63.45 357.111 63.45ZM358.861 59.2C360.461 59.2 361.811 58.8333 362.911 58.1C364.011 57.3667 364.844 56.4 365.411 55.2C365.977 54 366.261 52.6833 366.261 51.25V48.25C366.261 46.7833 365.961 45.45 365.361 44.25C364.794 43.05 363.961 42.1 362.861 41.4C361.794 40.6667 360.494 40.3 358.961 40.3C357.394 40.3 356.044 40.6833 354.911 41.45C353.811 42.2167 352.961 43.3 352.361 44.7C351.794 46.1 351.511 47.7833 351.511 49.75C351.511 51.6833 351.794 53.3667 352.361 54.8C352.927 56.2333 353.761 57.3333 354.861 58.1C355.961 58.8333 357.294 59.2 358.861 59.2Z" fill="white"/>
                        <path d="M12.7949 42.136C11.8669 42.136 11.0589 41.936 10.3709 41.536C9.68294 41.12 9.13894 40.552 8.73894 39.832C8.35494 39.096 8.16294 38.248 8.16294 37.288C8.16294 36.312 8.35494 35.456 8.73894 34.72C9.13894 33.984 9.69094 33.416 10.3949 33.016C11.0989 32.6 11.9229 32.392 12.8669 32.392C13.6509 32.392 14.3389 32.536 14.9309 32.824C15.5389 33.096 16.0269 33.488 16.3949 34C16.7629 34.496 16.9709 35.072 17.0189 35.728H15.5069C15.3789 35.04 15.0589 34.536 14.5469 34.216C14.0349 33.88 13.4589 33.712 12.8189 33.712C12.1789 33.712 11.6269 33.864 11.1629 34.168C10.6989 34.472 10.3389 34.896 10.0829 35.44C9.84294 35.968 9.72294 36.584 9.72294 37.288C9.72294 38.024 9.85094 38.664 10.1069 39.208C10.3629 39.736 10.7229 40.144 11.1869 40.432C11.6509 40.704 12.1869 40.84 12.7949 40.84C13.5309 40.84 14.1469 40.648 14.6429 40.264C15.1549 39.88 15.4509 39.352 15.5309 38.68H17.0429C16.9949 39.352 16.7869 39.952 16.4189 40.48C16.0509 41.008 15.5549 41.416 14.9309 41.704C14.3069 41.992 13.5949 42.136 12.7949 42.136ZM12.6029 46.24C11.2589 46.24 10.0269 46.032 8.90694 45.616C7.80294 45.184 6.84294 44.568 6.02694 43.768C5.22694 42.968 4.60294 42.024 4.15494 40.936C3.72294 39.832 3.50694 38.608 3.50694 37.264C3.50694 35.92 3.72294 34.704 4.15494 33.616C4.60294 32.512 5.22694 31.568 6.02694 30.784C6.84294 29.984 7.80294 29.376 8.90694 28.96C10.0269 28.528 11.2589 28.312 12.6029 28.312C13.9469 28.312 15.1789 28.528 16.2989 28.96C17.4189 29.376 18.3789 29.984 19.1789 30.784C19.9789 31.568 20.5949 32.512 21.0269 33.616C21.4749 34.704 21.6989 35.92 21.6989 37.264C21.6989 38.608 21.4749 39.832 21.0269 40.936C20.5949 42.024 19.9789 42.968 19.1789 43.768C18.3789 44.568 17.4189 45.184 16.2989 45.616C15.1789 46.032 13.9469 46.24 12.6029 46.24ZM12.6029 45.184C14.1869 45.184 15.5709 44.856 16.7549 44.2C17.9549 43.528 18.8829 42.6 19.5389 41.416C20.2109 40.232 20.5469 38.848 20.5469 37.264C20.5469 35.696 20.2109 34.32 19.5389 33.136C18.8829 31.936 17.9549 31.008 16.7549 30.352C15.5709 29.68 14.1869 29.344 12.6029 29.344C11.0349 29.344 9.65094 29.68 8.45094 30.352C7.26694 31.008 6.33894 31.936 5.66694 33.136C5.01094 34.32 4.68294 35.696 4.68294 37.264C4.68294 38.848 5.01094 40.232 5.66694 41.416C6.33894 42.6 7.26694 43.528 8.45094 44.2C9.65094 44.856 11.0349 45.184 12.6029 45.184Z" fill="white"/>
                        </svg>
                    ul.l-footer-sns
                        li
                            a(href="https://www.facebook.com/nakanoshimalab/" target="_blank" rel="noopener")
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 9.5C19 4.2 14.7 0 9.5 0C4.3 0 0 4.3 0 9.5C0 14.7 3.1 17.6998 7.2 18.7998V12.5H5.2V9.59961H7.2V8.39941C7.2 5.19941 8.7 3.59961 11.8 3.59961C14.9 3.59961 13.4 3.6998 13.9 3.7998V6.39941C13.7 6.39941 13.3 6.39941 12.8 6.39941C11.2 6.39941 10.6 7 10.6 8.5V9.5H13.7L13.2 12.3994H10.6V18.8994C15.3 18.2994 18.9 14.2994 18.9 9.39941L19 9.5Z"/>
                                </svg>
                        li
                            a(href="https://www.instagram.com/nakanoshimalab/" target="_blank" rel="noopener")
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.55056 0C4.48314 0 3.8427 0.21286 3.20225 0.426346C2.5618 0.639831 2.02809 0.960059 1.49438 1.49377C0.960676 2.02749 0.640451 2.56183 0.426968 3.20228C0.213485 3.84274 0 4.4834 0 5.55083C0 6.61826 0 6.93765 0 9.49948C0 12.0613 0 12.4885 0 13.4492C0 14.5166 0.213485 15.1573 0.426968 15.7977C0.640451 16.4382 0.960676 16.9715 1.49438 17.5052C2.02809 18.0389 2.5618 18.3591 3.20225 18.5726C3.8427 18.7861 4.48314 19 5.55056 19C6.61798 19 6.93821 19 9.5 19C12.0618 19 12.4888 19 13.4494 19C14.5169 19 15.1573 18.7861 15.7978 18.5726C16.4382 18.3591 16.9719 18.0389 17.5056 17.5052C18.0393 16.9715 18.3596 16.4382 18.573 15.7977C18.7865 15.1573 19 14.5166 19 13.4492C19 12.3817 19 12.0613 19 9.49948C19 6.93765 19 6.51152 19 5.55083C19 4.4834 18.7865 3.84274 18.573 3.20228C18.3596 2.56183 18.0393 2.02749 17.5056 1.49377C16.9719 0.960059 16.4382 0.639831 15.7978 0.426346C15.1573 0.21286 14.5169 0 13.4494 0C12.382 0 12.0618 0 9.5 0C6.93821 0 6.51123 0 5.55056 0ZM5.6573 17.3989C4.69663 17.3989 4.16292 17.1856 3.8427 17.0788C3.41573 16.8654 3.0955 16.6517 2.77528 16.3314C2.45505 16.0112 2.24158 15.691 2.02809 15.264C1.92135 14.9438 1.70786 14.4099 1.70786 13.4492C1.70786 12.4885 1.70786 12.1687 1.70786 9.60685C1.70786 7.04502 1.70786 6.72417 1.70786 5.76348C1.70786 4.8028 1.92135 4.26992 2.02809 3.94969C2.24158 3.52272 2.45505 3.20249 2.77528 2.88226C3.0955 2.56203 3.41573 2.34834 3.8427 2.13485C4.16292 2.02811 4.69663 1.81484 5.6573 1.81484C6.61797 1.81484 6.93821 1.81484 9.5 1.81484C12.0618 1.81484 12.382 1.81484 13.3427 1.81484C14.3034 1.81484 14.8371 2.02811 15.1573 2.13485C15.5843 2.34834 15.9045 2.56203 16.2247 2.88226C16.5449 3.20249 16.7584 3.52272 16.9719 3.94969C17.0787 4.26992 17.2921 4.8028 17.2921 5.76348C17.2921 6.72417 17.2921 7.04502 17.2921 9.60685C17.2921 12.1687 17.2921 12.4885 17.2921 13.4492C17.2921 14.4099 17.0787 14.9438 16.9719 15.264C16.7584 15.691 16.5449 16.0112 16.2247 16.3314C15.9045 16.6517 15.5843 16.8654 15.1573 17.0788C14.8371 17.1856 14.3034 17.3989 13.3427 17.3989C12.382 17.3989 12.0618 17.3989 9.5 17.3989C6.93821 17.3989 6.61797 17.3989 5.6573 17.3989ZM13.5562 4.4834C13.5562 4.69689 13.5562 4.90996 13.7697 5.12344C13.8764 5.33693 14.0899 5.44409 14.3034 5.55083C14.5169 5.55083 14.7303 5.65757 14.9438 5.55083C15.1573 5.55083 15.3708 5.44325 15.5843 5.22977C15.7978 5.01628 15.9045 4.90996 15.9045 4.58973C15.9045 4.37624 15.9045 4.16318 15.9045 3.94969C15.9045 3.7362 15.691 3.52272 15.4775 3.41598C15.264 3.30923 15.0506 3.20228 14.8371 3.20228C14.6236 3.20228 14.1966 3.30882 13.9831 3.5223C13.7697 3.73579 13.6629 4.05581 13.6629 4.37604L13.5562 4.4834ZM4.58988 9.60685C4.58988 12.3822 6.83146 14.5166 9.5 14.5166C12.2753 14.5166 14.4101 12.2754 14.4101 9.60685C14.4101 6.83154 12.1685 4.69605 9.5 4.69605C6.72472 4.69605 4.58988 6.93828 4.58988 9.60685ZM6.29776 9.60685C6.29776 8.96639 6.51124 8.32573 6.83146 7.79201C7.15169 7.2583 7.68539 6.83174 8.2191 6.61826C8.75281 6.40477 9.5 6.29782 10.0337 6.40456C10.6742 6.51131 11.2079 6.83133 11.6348 7.2583C12.0618 7.68527 12.382 8.32573 12.4888 8.85944C12.5955 9.4999 12.4888 10.1406 12.2753 10.6743C12.0618 11.208 11.6348 11.7411 11.1011 12.168C10.5674 12.4883 9.92696 12.7018 9.28652 12.7018C8.64607 12.7018 8.43258 12.7026 8.11236 12.4891C7.68539 12.3824 7.36517 12.0615 7.04494 11.848C6.72472 11.5278 6.51124 11.2076 6.29776 10.7806C6.08427 10.3536 6.08427 9.92707 6.08427 9.60685H6.29776Z"/>
                                </svg>
                        li
                            a(href="https://x.com/nakanoshimalab" target="_blank" rel="noopener")
                                <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.7 6.80078L17.4 0H15.8L9.99999 5.90039L5.4 0H0L6.99999 8.90039L0 16H1.6L7.7 9.80078L12.6 16H18L10.7 6.80078ZM8.49999 9L7.8 8.10059L2.1 1.10059H4.49999L9.1 6.80078L9.8 7.7002L15.7 15.1006H13.3L8.49999 9.10059V9Z"/>
                                </svg>
                        li
                            a(href="https://www.youtube.com/c/CreativeIslandNakanoshima" target="_blank" rel="noopener")
                                <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.5 2.5C21.2 1.5 20.5 0.7 19.6 0.5C17.9 0 11 0 11 0C11 0 4.10001 0 2.40001 0.5C1.50001 0.8 0.7 1.5 0.5 2.5C0 4.3 0 8 0 8C0 8 0 11.7 0.5 13.5C0.8 14.5 1.50001 15.3 2.40001 15.5C4.10001 16 11 16 11 16C11 16 17.9 16 19.6 15.5C20.5 15.2 21.3 14.5 21.5 13.5C22 11.7 22 8 22 8C22 8 22 4.3 21.5 2.5Z"/>
                                <path d="M8.69531 11.3994V4.5L14.3953 7.89941L8.69531 11.2998V11.3994Z" fill="#007CBE"/>
                                </svg>


                    .l-footer-info
                        dl
                            dt 【委託】
                            dd
                                | 令和６年度日本博2.0事業（委託型）
                        dl
                            dt 【主催】
                            dd
                                | クリエイティブアイランド中之島実行委員会／独立行政法人日本芸術文化振興会／文化庁

                    .l-footer-expo
                        a(href="https://japanculturalexpo.bunka.go.jp/en/" target="_blank" rel="noopener")
                            img(src=img+"logo-japanculturalexpo.webp" alt="Japan Cultural Expo")
                .l-footer__pagetop
                    a(href="#top" data-scroll-anchor).c-btn-pagetop(aria-label="ページトップへ")
                        i.c-btn-pagetop__arrow
                            svg(width=26 height=26).js-clone
                                use(href="#ico-arrow")
                        span.c-btn-pagetop__txt TOP
        #modal-about.cm-modal(aria-hidden='true')
            .cm-modal__overlay(tabindex='-1' data-micromodal-close='')
                button.c-btn-close.cm-modal__close(aria-label='閉じる' data-micromodal-close='')
                    img(src=img + "btn-close.svg")
                .cm-modal-about(role='dialog' aria-modal='true').is-section-dark
                    .cm-modal-about__wrap
                        .cm-modal-about__content
                            .cm-modal-about__head
                                h3.cm-modal-about__title1
                                    span 大阪の中の
                                    span 島
                                    span へ。
                                p.cm-modal-about__title2 大阪にはキタとミナミだけでなく<br class="sp">「ナカ」がある。
                            .cm-modal-about__body
                                p
                                    | 自然、文化、歴史、アート、科学、国際交流、
                                    br
                                    | ふたつの川に包まれた小さなエリアに、
                                    br
                                    | 多彩な“学びの水源”が集まる中之島。
                                    br
                                    | 私たちは、この地で湧き出る多様な知を交叉させ
                                    br
                                    | 大阪の可能性と創造性を広げていきます。
                            .cm-modal-about__foot
                                p クリエイティブアイランド中之島
                        .cm-modal-about__movie
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/6Kwfe3BUSwI?si=uXhyjPOdB8tbqm1V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            .cm-modal-about__more
                                a(href="#" target="_blank" rel="noopener").c-btn-youtube
                                    i.c-btn-youtube__arrow
                                        svg(width=26 height=26).js-clone
                                            use(href="#ico-arrow")
                                    span.c-btn-youtube__txt
                                        | Youtubeで見る
    script(src= path + "assets/js/app.js")
    = "\n"
    include ./_include/_symbol
= "\n"
</html>
