- for (var x = 1; x <= 3; x++)
    .c-card-event.c-card-event--teaser
        a(href= path + "single-news/").c-card-event__link
            .c-card-event__meta
                p.c-card-event__type Events
                ul.c-card-event__category
                    li 現代アート
            p.c-card-event__status
                | 予
            figure.c-card-event__pic
                img(src=img + "500x620_2.webp" alt="")
            h3.c-card-event__title
                | 映像展示「ビルダーズ：工事記録にみる都市再考」
            ul.c-card-event__place
                li graf studio
                li アートエリアB1
    .c-card-event.c-card-event--teaser
        a(href= path + "single-news/").c-card-event__link
            .c-card-event__meta
                p.c-card-event__type Events
                ul.c-card-event__category
                    li 現代アート
            p.c-card-event__status
                | 予
            figure.c-card-event__pic
                img(src=img + "500x260.webp" alt="")
            h3.c-card-event__title
                | 映像展示「ビルダーズ：工事記録にみる都市再考」
            ul.c-card-event__place
                li graf studio
                li アートエリアB1
    .c-card-event.c-card-event--teaser
        a(href= path + "single-news/").c-card-event__link
            .c-card-event__meta
                p.c-card-event__type Events
                ul.c-card-event__category
                    li 現代アート
            p.c-card-event__status
                | 予
            figure.c-card-event__pic
                img(src=img + "500x620_2.webp" alt="")
            h3.c-card-event__title
                | 映像展示「ビルダーズ：工事記録にみる都市再考」
            ul.c-card-event__place
                li graf studio
                li アートエリアB1
    .c-card-event
        a(href= path + "single-news/").c-card-event__link
            .c-card-event__meta
                p.c-card-event__type Events
                ul.c-card-event__category
                    li 現代アート
            p.c-card-event__status
                | 開
            figure.c-card-event__pic
                img(src=img + "500x700.webp" alt="")
            h3.c-card-event__title
                | 映像展示「ビルダーズ：工事記録にみる都市再考」
            ul.c-card-event__place
                li graf studio
                li アートエリアB1
    .c-card-event.c-card-event--teaser
        a(href= path + "single-news/").c-card-event__link
            .c-card-event__meta
                p.c-card-event__type Events
                ul.c-card-event__category
                    li 現代アート
            p.c-card-event__status
                | 予
            figure.c-card-event__pic
                img(src=img + "500x700_2.webp" alt="")
            h3.c-card-event__title
                | 映像展示「ビルダーズ：工事記録にみる都市再考」
            ul.c-card-event__place
                li graf studio
                li アートエリアB1