extends ../_default
block vars
    - var path = "../"
    - var title = "News"
    - var pageClass = ""

block content

    .p-creative-single
        .l-container
            .cm-section-header
                .cm-section-header__bc
                    ul.c-link-bc
                        li
                            a(href= path + "") Top
                        li
                            a(href= path + "creative/") Creative Contents
                        li
                            span リサーチと執筆、トークイベントを経て岡田利規『中之島15の場所での物語』を振り返る
            .p-creative-single__wrap
                .p-creative-single__main
                    .cm-post.cm-post--creative
                        h1.c-heading-post リサーチと執筆、トークイベントを経て岡田利規『中之島15の場所での物語』を振り返る
                        .cm-post-meta
                            p.cm-post-meta__date
                                span 2025.06.21
                                span -
                                span 2025.08.30
                            ul.cm-post-meta__category
                                li
                                    a(href="#") 中之島プロモーション
                            ul.cm-post-meta__place
                                li
                                    a(href="#") graf studio
                                li
                                    a(href="#") アートエリアB1
                                li
                                    a(href="#") こども本の森 中之島
                                li
                                    a(href="#") フェスティバルホール
                                li
                                    a(href="#") 国立国際美術館
                                li
                                    a(href="#") 大阪市中央公会堂 ／中之島まちみらい協議会
                                li
                                    a(href="#") 中之島香雪美術館
                                li
                                    a(href="#") 大阪市立科学館 大阪中之島美術館
                                li
                                    a(href="#") グランキューブ大阪
                                li
                                    a(href="#") 大阪大学中之島センター
                                li
                                    a(href="#") 大阪市立東洋陶磁美術館


                        figure.cm-post__eyeCatch
                            img(src=img + "dummy-post1.webp" alt="")

                        .cm-post-editor
                            p ある場所にあわせて書かれた物語をその場所で配布すると、読み手はおのずと物語をその場所で読むことになります。クリエイティブアイランド中之島に参加する15の施設や建物で配架している、演劇作家、⼩説家、チェルフィッチュ主宰の岡田利規さんによる『中之島15の場所での物語』は、まさにそのような特殊な読書体験を前提として書かれたテキストです。
                            figure
                                img(src=img + "dummy-post2.webp" alt="")
                                figcaption 撮影：仲川あい
                            p 岡田利規さんは2019年、2021年、2023年と断続的に中之島に足を運んでリサーチを重ね、2024年から執筆を開始。7月11日～25日の2週間は中之島にあるgrafのレジデンススペース「graf porch」に滞在して、いわゆる“缶詰め”状態で原稿を書くことに集中しました。最初に書き上げたのは、大阪市中央公会堂にあわせた1作。「OMMビル」と名付けられたそのテキストは、2023年のリサーチ中に、OMMビルの屋上庭園から公会堂を眺めたことや、公会堂の地下にある展示室で岩本栄之助（公会堂建設費のために私財を投じた人物）の生涯にあらためて触れたことなども反映された物語でした。リサーチを前提とした原稿依頼なので、それも当然なのですが、といって、このようにして物語が書き上げられてみるとあらためて気づかされることがいくつもありました。
                            hr
                            h2 場所に寄り添った先のフィクション(h2)
                            p 大阪市中央公会堂にあわせて書かれた物語「OMMビル」は、公会堂の地下に設置されたミーティングポイントに配架されているのですが、この場所を起点としてそのすぐ横にある階段を上がっていくことが物語内でうながされます。《その階段は地上階で、この建物のメイン・ホールである大集会室の、ロビーの脇に出》て、《今は週末の日中で、ホール内は一般に公開されている。扉は開放されており、その手前には「本日 10:00から14:00まで、大集会室を自由にご覧いただけます」という案内掲示が立っている》といったテキストが続きます。
                            p ある日、確かにその場所を実地に岡田さんが見歩いたからこその現場に即した描写は、『中之島15の場所での物語』全体に通底するもの。実際、7月の“缶詰め”中にもテキストを書き進めるなかで、気になる建物のディテールや空間の様子が出てくると、その度ごとに自転車で各ポイントへ確認に訪れる岡田さんの姿がありました。
                            p 実際の場所に丁寧に寄り添ったこうした描写のうえで、現実にはあり得ないフィクションの世界へとシームレスに移りゆく展開も読みどころのひとつ。たとえば、大阪中之島美術館にあわせて書かれた物語「空き地」では、配架ポイントにある共用空間のベンチのひとつに座って、その目の前の壁に注目することがテキスト内で促されます。
                            p 《特色シルバーの羽板をあしらった鎧張り仕様の壁。あなたが凝視しているのは、羽板と羽板の隙間の空間である》という、現実の大阪中之島美術館で見られる特徴的なその壁面が、気づけば《隙間の空間が、奥へ向かって遠ざかっている》《奥に向かってぐんぐん引っ張られていく、その速度がみるみる上がっていく》と、激しく変容していきます。SF的な現実崩壊感を感じるような展開ですが、実際にこのテキストを読んでいる眼の前の現実＝壁が変化することが記述されているわけですから、単なる想像上のフィクションとも違っています。それぞれの場所に寄り添って描写されたからこその、現実とフィクションが薄皮一枚でつながっているような物語が生まれたといえます。
                            hr
                            h2 あなたに呼びかけるような物語(h2)
                            figure
                                img(src=img + "dummy-post2.webp" alt="")
                                figcaption
                                    | 2024年11月20日「中之島15の場所での物語」トーク＆リーディング
                                    br
                                    | 撮影：仲川あい
                            p 大阪市中央公会堂にあわせて書かれた物語「OMMビル」は、公会堂の地下に設置されたミーティングポイントに配架されているのですが、この場所を起点としてそのすぐ横にある階段を上がっていくことが物語内でうながされます。《その階段は地上階で、この建物のメイン・ホールである大集会室の、ロビーの脇に出》て、《今は週末の日中で、ホール内は一般に公開されている。扉は開放されており、その手前には「本日 10:00から14:00まで、大集会室を自由にご覧いただけます」という案内掲示が立っている》といったテキストが続きます。
                            p ある日、確かにその場所を実地に岡田さんが見歩いたからこその現場に即した描写は、『中之島15の場所での物語』全体に通底するもの。実際、7月の“缶詰め”中にもテキストを書き進めるなかで、気になる建物のディテールや空間の様子が出てくると、その度ごとに自転車で各ポイントへ確認に訪れる岡田さんの姿がありました。
                            p 実際の場所に丁寧に寄り添ったこうした描写のうえで、現実にはあり得ないフィクションの世界へとシームレスに移りゆく展開も読みどころのひとつ。たとえば、大阪中之島美術館にあわせて書かれた物語「空き地」では、配架ポイントにある共用空間のベンチのひとつに座って、その目の前の壁に注目することがテキスト内で促されます。
                            p 《特色シルバーの羽板をあしらった鎧張り仕様の壁。あなたが凝視しているのは、羽板と羽板の隙間の空間である》という、現実の大阪中之島美術館で見られる特徴的なその壁面が、気づけば《隙間の空間が、奥へ向かって遠ざかっている》《奥に向かってぐんぐん引っ張られていく、その速度がみるみる上がっていく》と、激しく変容していきます。SF的な現実崩壊感を感じるような展開ですが、実際にこのテキストを読んでいる眼の前の現実＝壁が変化することが記述されているわけですから、単なる想像上のフィクションとも違っています。それぞれの場所に寄り添って描写されたからこその、現実とフィクションが薄皮一枚でつながっているような物語が生まれたといえます。
                            blockquote
                                p 引用が入ります。引用が入ります。引用が入ります。引用が入ります。引用が入ります。引用が入ります。引用が入ります。引用が入ります。引用が入ります。
                                p(style="text-align: right;") 「どれがわたしでしょう」
                            h3 岡田利規『中之島15の場所での物語』　※作品タイトル｜対象施設(h3)
                            ol
                                li 「三十一階」 中之島センタービル
                                li 「プラザ。」 大阪府立国際会議場（グランキューブ大阪）
                                li 「リーチバー」 リーガロイヤルホテル
                                li 「旧緒方洪庵住宅（適塾）より」 大阪大学中之島センター
                                li 「空き地」 大阪中之島美術館
                                li 「B4F」 国立国際美術館
                                li 「どれがわたしでしょう」 大阪市立科学館
                                li 「ここ」 graf
                                li 「錦橋」 中之島フェスティバルタワー
                                li 「オルタナティブな道行」 中之島フェスティバルタワー・ウエスト
                                li 「書物を読む経験の空間化」 大阪府立中之島図書館
                                li 「OMM ビル」 大阪市中央公会堂
                                li 「加彩婦女俑」 大阪市立東洋陶磁美術館
                                li 「ふしぎなふね」 こども本の森 中之島
                                li 「アートエリアB１前地下通路」 アートエリアB１
                            h3 岡田利規『中之島15の場所での物語』　※作品タイトル｜対象施設(h3)
                            ul
                                li 「三十一階」 中之島センタービル
                                li 「プラザ。」 大阪府立国際会議場（グランキューブ大阪）
                                li 「リーチバー」 リーガロイヤルホテル
                                li 「旧緒方洪庵住宅（適塾）より」 大阪大学中之島センター
                                li 「空き地」 大阪中之島美術館
                                li 「B4F」 国立国際美術館
                                li 「どれがわたしでしょう」 大阪市立科学館
                                li 「ここ」 graf
                                li 「錦橋」 中之島フェスティバルタワー
                                li 「オルタナティブな道行」 中之島フェスティバルタワー・ウエスト
                                li 「書物を読む経験の空間化」 大阪府立中之島図書館
                                li 「OMM ビル」 大阪市中央公会堂
                                li 「加彩婦女俑」 大阪市立東洋陶磁美術館
                                li 「ふしぎなふね」 こども本の森 中之島
                                li 「アートエリアB１前地下通路」 アートエリアB１
                        .cm-post-report
                            .cm-post-report__head
                                p.cm-post-report__label Event Report
                                p.cm-post-report__no
                                    span vol.35
                            h2.cm-post-report__title レポートのタイトルが入ります。レポートのタイトル(h2)
                            p.cm-post-report__author 執筆：小林仁（大阪市立東洋陶磁美術館）
                            .cm-post-report__body
                                h3 見出し見出し(h3)
                                p ガラス張りのエントランスホールは、grafのファニチャーによって特別な茶会の空間へと変貌しました。黄安希氏（中国茶會無茶空茶 主宰）と川西まり氏（TE tea and eating 主宰）が茶事を担当した「禾（のぎ）」と題する茶会では、「紅三選」の迎茶から始まり、米の花香が感じられる「稲花香単叢」（広東省鳳凰山 2017）という樹齢の高い老木の烏龍茶、新嘗祭にちなんだ「秋実おこわ」の点心、さらに「霍山黄芽」（安徽省霍山2024）という珍しい黄茶、そして茶菓に「棗挾核桃」が供され、参加者はその独特な味わいに舌鼓を打ちました。
                                figure
                                    img(src=img+"dummy-post3.webp" alt="")
                                    figcaption
                                        | 2024年11月20日「中之島15の場所での物語」トーク＆リーディング
                                        br
                                        | 撮影：仲川あい
                                p 後半には黄安希氏と筆者によるトークショーが行われ、開催中の展覧会の見どころや展示品の茶器などについてさまざまな話題が展開しました。参加者からの質疑も交えながら、終始和やかな雰囲気の中でプログラムは無事終了しました。新たな美術館の空間で、中国文化と陶磁器の魅力を五感で堪能する一夜限りの特別な体験となり、参加者の表情からも満足感が伝わってきました。
                                .wp-block-gallery
                                    figure
                                        img(src=img + "dummy-post3.webp" alt="")
                                        figcaption
                                            | トークショーの様子
                                            br
                                            | 撮影：仲川あい
                                    figure
                                        img(src=img + "dummy-post3.webp" alt="")
                                        figcaption
                                            | 2024年11月20日「中之島15の場所での物語」トーク＆リーディング
                                            br
                                            | 撮影：仲川あい
                                p 後半には黄安希氏と筆者によるトークショーが行われ、開催中の展覧会の見どころや展示品の茶器などについてさまざまな話題が展開しました。参加者からの質疑も交えながら、終始和やかな雰囲気の中でプログラムは無事終了しました。新たな美術館の空間で、中国文化と陶磁器の魅力を五感で堪能する一夜限りの特別な体験となり、参加者の表情からも満足感が伝わってきました。
                        .cm-post-archive
                            h3.c-heading-txt-sm アーカイブ
                            .cm-post-archive__movie
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/pp2gBUw46hw?si=1PSeZGkZg-zuVza5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            .cm-post-archive__list
                                dl
                                    dt 名称
                                    dd 回遊型プロジェクト「ARでめぐる『中之島15の場所での物語』」
                                dl
                                    dt 会期
                                    dd ミーティングポイント設置の15か所
                                dl
                                    dt 場所
                                    dd (中之島センタービル／グランキューブ大阪／リーガロイヤルホテル大阪／大阪大学中之島センター／大阪中之島美術館／国立国際美術館／大阪市立科学館／graf studio／中之島フェスティバルタワー／中之島フェスティバルタワー・ウエスト／大阪府立中之島図書館／大阪市中央公会堂／大阪市立東洋陶磁美術館／こども本の森 中之島／アートエリアB1)
                                dl
                                    dt 場所
                                    dd 各施設の開館時間に準ずる
                                dl
                                    dt 作品制作
                                    dd 金氏徹平、菅野歩美、小林健太、contact Gonzo、MANTLE（伊阪柊＋中村壮志）、STYLYクリエイター、公募参加のみなさま
                                dl
                                    dt 共催
                                    dd 金氏徹平、菅野歩美、小林健太、contact Gonzo、MANTLE（伊阪柊＋中村壮志）、STYLYクリエイター、公募参加のみなさま
                                dl
                                    dt 特別協力
                                    dd 株式会社STYLY ／ 吉田山（floating alps）
                                dl
                                    dt 委託
                                    dd 令和7年度日本博2.0 事業（委託型）



            .p-creative-single__pager
                .cm-nav-page
                    .cm-nav-page__ctrl
                        a(href= path + "single-news/").cm-nav-page-link
                            i.cm-nav-page-link__arrow
                                svg(width=26 height=26).js-clone
                                    use(href="#ico-arrow")
                            span.cm-nav-page-link__txt 前の記事
                    .cm-nav-page__index
                        a(href= path + "single-news/").cm-nav-page-link
                            span.cm-nav-page-link__txt News一覧に戻る
                    .cm-nav-page__ctrl
                        a(href= path + "single-news/").cm-nav-page-link
                            span.cm-nav-page-link__txt 前の記事
                            i.cm-nav-page-link__arrow
                                svg(width=26 height=26).js-clone
                                    use(href="#ico-arrow")
            .p-creative-single__more
                .cm-section-relative
                    h3.c-heading-txt 中之島プロモーション
                    .cm-section-relative__list
                        - for (var x = 1; x <= 2; x++)
                            .c-card-event.c-card-event--square
                                a(href= path + "single-news/").c-card-event__link
                                    figure.c-card-event__pic
                                        img(src=img + "500x500.webp" alt="")
                                    ul.c-card-event__category
                                        li エクスチェンジプログラム
                                    h3.c-card-event__title
                                        | 「中之島15の場所での物語」AR挿絵公募
                                    ul.c-card-event__place
                                        li graf studio
                                        li アートエリアB1
                                        li こども本の森 中之島
                                        li フェスティバルホール
                                        li 国立国際美術館
                                        li 大阪市中央公会堂 ／中之島まちみらい協議会
                                        li 中之島香雪美術館
                            .c-card-event.c-card-event--square
                                a(href= path + "single-news/").c-card-event__link
                                    figure.c-card-event__pic
                                        img(src=img + "500x500.webp" alt="")
                                    ul.c-card-event__category
                                        li エクスチェンジプログラム
                                    h3.c-card-event__title
                                        | 「中之島15の場所での物語」AR挿絵公募
                                    ul.c-card-event__place
                                        li graf studio
                                        li アートエリアB1
                                        li こども本の森 中之島
                                        li フェスティバルホール
                                        li 国立国際美術館
                                        li 大阪市中央公会堂 ／中之島まちみらい協議会
                                        li 中之島香雪美術館
                                        li 大阪市立科学館 大阪中之島美術館
                                        li グランキューブ大阪
                                        li 大阪大学中之島センター
                                        li 大阪市立東洋陶磁美術館











